* text=auto eol=lf

*.js text eol=lf
*.vue text eol=lf
*.css text eol=lf
*.md text eol=lf
*.json text eol=lf

*.glb binary
*.b3dm binary
*.bin binary
*.jpg binary
*.jpeg binary
*.png binary
*.ico binary
*.wasm binary
